@font-face {
    font-family: 'MyFont';
    src: url('./AnandaBlackRegular.ttf') format('ttf'),
        url('./abeatbyKaiRegular.otf'), format('otf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont';
    /* background: url('./header.svg');
    background-repeat: no-repeat; */
}